@media(max-width:1300px) {
    .nav__list{
        gap: 40px;
    }
    .servise{
        gap: 25px;
    }
    .intro__box{
        flex-direction: column-reverse;
        align-items: center;
    }
    .intro__card-right{
        width: 800px;
        height: 450px;
    }
    .intro__box-left{
        flex-direction: row;
    }
    .intro{
        justify-content: center;
        text-align: center;
    }
    .intro__card{
        margin: 0 auto;
        box-shadow: 0px 0px 15px #dadada;
    }
    .sales__box{
        gap: 30px;
        flex-wrap: nowrap;
        overflow-x: scroll;
        justify-content: start;
        align-items: stretch;
        overflow: hidden;
    }
    .sales__card{
        flex-shrink: 0;
    }
}
@media(max-width:1200px) {
    .nav__list{
        gap: 35px;
    }
    .servise{
        gap: 20px;
    }
}
@media(max-width:1140px) {
    .nav__list{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: #040D1F;
        z-index: 9;
        padding: 40px;
        height: 500px;
        align-items: center;
        transform: translateX(-110%);
        transition: 0.5s;
        left: 0;
        top: 0;
    }
    .nav__link{
        
        color: #f0f0f0;
    }
    .check{
        display: block;
    }
    .menu, .close{
        display: block;
    }
    .servise{
        order: -1;
    }
    .nav__box{
        flex-direction: row-reverse;
    }
    .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }
    #check:checked~.nav__list {
        transform: translate(0);
    }
    .intro__card img, .sales__img{
        width: 110px;
    }
    .intro__card{
        gap: 25px;
        width: 470px;
    }
}
@media(max-width:1000px) {
    .intro__card{
        display: flex;
        gap: 5px;
        width: 400px;
        height: 200px;
        justify-content: center;
    }
    .intro__card-right{
        width: 600px;
        height: 300px;
    }
    .card__about{
        gap: 10px;
    }
}
@media(max-width:900px) {
    .nav__logo{
        font-size: 30px;
    }
    .servise__img{
        display: none;
    }
    .servise{
        gap: 15px;
    }
    .nav__box{
        margin-top: 25px;
    }
    .intro__card-right img{
        width: 175px;
    }
    .intro__card img, .sales__img{
        width: 100px;
    }
    .intro__card-right{
        width: 500px;
        height: 250px;
    }
    .intro__card{
        width: 350px;
    }
}
@media(max-width:700px) {
     .left{
        display: flex;
        gap: 20px;
        flex-direction: column;
     }
}
@media(max-width:600px) {
    .nav__logo{
        font-size: 28px;
    }
    .servise{
        gap: 10px;
    }
    .servise a img{
        width: 15px;
    }
    .nav__box{
        padding-bottom: 5px;
        margin-top: 15px;
        border-bottom: 1px solid rgba(50, 50, 50, 1);
    }
    .menu, .close{
        width: 25px;
    }
    .card__about{
        gap: 5px;
    }
}@media(max-width:450px) {
    .intro__card, .intro__card-right{
        width: 350px;
        display: flex;
        gap: 5px;
        height: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro__card-right img{
        width: 125px;
    }
}
@media(max-width:450px) {
    .intro__box{
        margin-top: 27px;
    }
    .menu, .close{
        width: 20px;
    }
    .nav__logo{
        font-size: 25px;
    }
    .card__center img{
        gap: 0;
    }
    .intro__card{
        gap: 15px;
    }
    .nav__left{
        gap: 35px;
    }
    .nav__logo{
        font-size: 23px;
    }
}
@media(max-width:400px) {
    .intro__box{
        margin-top: 24px;
    }
    .intro__card, .intro__card-right{
        width: 250px;
    }
    .btn{
        display: none;
    }
    .menu{
        margin-left: 20px;
    }
    .nav__left{
        gap: 30px;
    }
    .nav__logo{
        font-size: 20px;
    }
}
@media(max-width:400px) {
    .intro__box{
        margin-top: 20px;
    }
    .nav__left{
        gap: 30px;
    }
    .nav__logo{
        font-size: 18px;
    }
    .intro__title, .title{
        font-family: var(--m700);
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
    }
}